body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App h1.title {
  background-color: white;
  font-family: 'Righteous', cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header img {
  position: absolute;
  top: 200px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-spacing {
  margin-bottom: 17px;
}

.raise-up {
  margin-top: -100px;
}

.user-component {
  margin-top: 30px;
}

.user {
  position: absolute;
  top: 70px;
}

.user h4 {
  padding-bottom: 10px;
}

.user-card {
  padding: 0px 20px 15px 20px;
}

.error {
  width: 200px;
  color: red;
  margin-bottom: 10px;
  margin-top: -65px;
}

.game {
  position: absolute;
  top: 180px;
  left: 200px;
  right: 200px;
}

.questions {
  margin-right: 45px;
}

.questions li {
  margin-bottom: 3px;
}

.question-answer-lists {
  list-style-type: none;
}

.question-answer-lists li.question {
  margin-bottom: 20px;
}

.summary {
  margin-top: -30px;
}

#finish-game {
  margin-left: 19px;
}